#content {
    margin: 16rem 0;

    .container {

        .main-wrapper {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            // grid-template-rows: repeat(3, 1fr);
            grid-gap: 2rem;

            .wrapper {
                border: none;
                position: relative;
                height: 37rem; 
                border-radius: .8rem;
                overflow: hidden; 

                    .header {
                        position: relative;
                        padding: 0;
                        height: 32rem;

                        img {
                            height: 100%; width: 100%;
                            object-fit: cover;
                            //border-radius: .8rem .8rem 0 0;
                        }

                        &::after {
                            content: '';
                            display: block;
                            position: absolute; left: 0; top: 0; right: 0; bottom: 0;
                            background: linear-gradient(180deg, transparent, #000);
                        }
                    }

                    .body {
                        padding: 2rem;
                        width: 100%;
                        position: absolute; bottom: 10%;
                        display: flex; align-items: center;

                        .platforms {

                            svg {
                                font-size: 1.8rem;
                                fill: #fff;
                                margin: 5px;

                                &:first-of-type {
                                    margin-left: 0;
                                }
                            }
                        }
                        

                        .metacritic {
                            margin-left: auto;
                            padding: 1px 4px;
                            font-weight: 600; font-size: 1.4rem;
                            border-radius: 4px;

                            &.yellow {
                                color: #fff;
                                border: 1px solid #fff;
                            }

                            &.green {
                                color: var(--gold);
                                border: 1px solid var(--gold);
                            }
                        }
                    }

                    .footer {
                        color: white; background: #000;
                        z-index: 1; width: 100%; height: 5rem;
                        padding: 1.2rem 2rem; 
                        //border-radius: 0 0 .8rem .8rem;
                        display: flex; justify-content: left; align-items: center;

                        span {
                            font-weight: 700; font-size: 1.8rem;
                            display: flex; justify-content: center; align-content: center;
                        }

                        .rating {

                            img {
                                height: 25px; width: 25px;
                                margin: 0 0 4px 5px;
                            }
                        }
                    }

                    .overlay {
                        color: #fff;
                        position: absolute; left: 0; right: 0; top: -8%;
                        background: rgba(0, 0, 0, .5);
                        width: 100%; height: 0;
                        //border-radius: .8rem;
                        transition: all .3s linear;

                        .overlay-content {
                            position: absolute; top: 50%; left: 50%;
                            display: flex; justify-content: space-evenly; align-content: center;
                            transform: translate(-50%, -50%);
                            font-size: 1.6rem;
                            width: 100%;
                            

                            .overlay-content-details {
                                display: flex; justify-content: center; align-content: center;
                                margin: 0 !important;
                                color: #fff;
                                border: 2px solid #fff;
                                padding: 8px 14px;
                                border-radius: .5rem;
                                transition: all .2s linear;

                               &:hover {
                                   background: var(--gold);
                                   color: #fff;
                                   border: 2px solid var(--gold);
                                }
                            }

                            .overlay-content-favorite {
                                display: flex; justify-content: center; align-self: center;
                                border: 2px solid #fff;
                                border-radius: 50%;
                                padding: 10px;

                                &:hover {
                                    background: #fff;
                                }
                                &:hover svg {
                                    fill: var(--gold);
                                }
                            }
                            
                        }
                    }
                    

                    &:hover .overlay {
                        height: 108%;
                    }
                
            }
        }
    }
}