    .bm-burger-button {
        position: fixed;
        width: 36px;
        height: 30px;
        left: 6.5rem;
        top: 12.7rem;

        .bm-burger-bars {
            background: var(--gold);
          }

          .bm-burger-bars-hover {
            transition: all .4s linear;
            background: #d4af37;
          }
      }
      
       /* Styling of overlay */
       .bm-overlay {
        top: 76px !important;
    }

      /*
      Sidebar wrapper styles
      Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
      */
      .bm-menu-wrap {
        position: fixed;
        height: 100%;
        top: 76px;

            /* General sidebar styles */
            .bm-menu {
                background: #606060;
                padding: 4rem 2.5rem 0;
                font-size: 1.5rem;
            }
            
            /* Morph shape necessary with bubble or elastic */
            .bm-morph-shape {
                fill: #373a47;
            }
            
            /* Wrapper for item list */
            .bm-item-list {
                padding: 1rem;
            }
            
            /* Individual item */
            .bm-item {
                display: inline-block;

                p {
                    font-size: 3rem;
                    font-weight: 700;
                    margin: 0;
                    color: #fff;
                }

                li {

                    svg {
                        color: #fff;
                        font-size: 2rem;
                        font-weight: 500;
                    }

                    a {
                        font-size: 1.8rem;
                        color: var(--gold);
                        font-weight: 500;

                        &.selected {
                            color: white;
                        }

                        &:hover {
                            transition: all .4s linear;
                            color: #d4af37 !important;
                        }
                    }

                }

                &:focus {
                    outline: none !important;
                }
            }
            
            .bm-cross-button:hover {
                transition: all .4s linear;
                color: var(--red);
            }
      }

       /* Position and sizing of clickable cross button */
       .bm-cross-button {
        height: 24px;
        width: 24px;
      }
      
      /* Color/shape of close button cross */
      .bm-cross {
        background: var(--gold);
      }