* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  /* --background: #112444;
  --text: #fff;
  --gold: #ffdf5d;
  --red: #fb090b !important; */

  --background: #0b0c10;
  --text: #fff;
  --gold: #ffdf5d;
  --red: #fb090b !important;
}
html {
  font-size: 10px !important;
}
body {
  /* background: #192442; */
  background: var(--background) !important;
  color: var(--gold) !important;
  font-family: 'Maven Pro', sans-serif !important;
  line-height: 1.6 !important;
}

li {
  list-style-type: none;
}

a:hover {
  text-decoration: none !important;
}
button:focus {
  outline: none !important;
}

#sidebar {
  text-align: center;
  overflow: auto;
  /* top: 45%;
  position: relative; */
  /* margin: 10rem 0 4rem; */
}

*::selection {
  background: var(--red);
}